@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';


html, 
body {
    height: 100%;
}

* {
    font-family: 'LibreFranklin', sans-serif;
}

.page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

.container {
    padding: 0 20px;
    margin: 0 auto;
    width: 1202px;
}

h1, 
h2, 
h3,
h4, 
h5, 
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    padding: 0;
}

@import 'blocks/header';