.header {
    padding: 37px 0;
    border-bottom: 1px solid rgba(230, 230, 230, 0.8);
    &__wrapper  {
        display: flex;
        justify-content: space-between;
    }
   
}

.menu__list {
    display: flex;
}
.menu__item {
    margin-right: 40px;
    font-size: 14px;
    line-height: 24px;
}

.menu__link {
    font-size: 14px;
    line-height: 171%;
    color: #000000;
    &:hover {
        padding-bottom: 6px;
        text-decoration: none;
        color: inherit;
        border-bottom: 1.5px solid #000;
    }
}